@model IEnumerable<Book>

<div class="right_col" role="main">
    <div class="">
        <div class="row" style="display: block;">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Kitap Yönetimi</h2>
                        <span style="color:green" class="m-5">@TempData["Ekleme"]</span>
                        <a asp-controller="Book" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Kitap Ekle</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Kitap Adı </th>
                                        <th class="column-title">Kitap Yazarı </th>
                                        <th class="column-title">Kitap Resmi </th>
                                        <th class="column-title">Kitap Durumu </th>
                                        <th class="column-title">Kitap İade Tarihi </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Book book in Model)
                                    {
                                        <tr class="even pointer">
                                            <td>@book.Name</td>
                                            <td>@book.Writer</td>
                                            <td><img src="@book.Picture" height="80" /></td>
                                            <td>
                                                @if (book.Status == true)
                                                {
                                                    <span>@book.Members.Name 'Kişisinde</span>
                                                }
                                                else
                                                {
                                                    <span>Kütüphanede</span>
                                                }
                                            </td>
                                            <td>@book.DataDate.ToString("dd/MM/yyyy")</td>
                                            <td><a asp-controller="Book" asp-action="Give" asp-route-id="@book.ID" class="btn btn-primary">Ödünç Ver</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
