@model IEnumerable<Members>

<div class="right_col" role="main">
    <div class="">
        <div class="row" style="display: block;">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Üye Yönetimi</h2>
                        <span style="color:green" class="m-5">@TempData["Ekleme"]</span>
                        <a asp-controller="Members" asp-action="New" class="btn btn-success float-right" style="color:#fff">Yeni Üye Ekle</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Üye Adı</th>
                                        <th class="column-title">Üye Soy Adı</th>
                                        <th class="column-title">Kullanıcı Adı</th>
                                        <th class="column-title">Şifresi</th>                                       
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Members members in Model)
                                    {
                                        <tr class="even pointer">
                                            <td>@members.Name</td>
                                            <td>@members.Surname</td>
                                            <td>@members.Username</td>
                                            <td>@members.Password</td>                                               
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
